body {
@media only screen and (max-width: 768px) {
   .mathjax-block {
       font-size: 16px !important;
   }
}
  
}

.cm-s-obsidian .HyperMD-codeblock {
    direction:ltr !important;
  }
  
  .markdown-preview-view blockquote {
  direction:ltr !important;
  }
  /* for editor */
.cm-quote {
  direction: ltr !important;
  text-align: left !important;
}

.markdown-preview-view pre>code {
  direction: ltr !important;
  }

.cm-s-obsidian span.cm-inline-code {
  direction: ltr !important;
}

@media only screen and (max-width: 768px) {
   .mathjax-block {
       font-size: 16px !important;
   }
}
