body {
   mjx-container {
    outline: none;
    overflow-x: scroll;
  }
}

.cm-s-obsidian .HyperMD-codeblock {
    direction:ltr !important;
  }
  
  .markdown-preview-view blockquote {
  direction:ltr !important;
  }
  /* for editor */
.cm-quote {
  direction: ltr !important;
  text-align: left !important;
}

.markdown-preview-view pre>code {
  direction: ltr !important;
  }

.cm-s-obsidian span.cm-inline-code {
  direction: ltr !important;
}

.markdown-source-view.mod-cm6 .math-block > mjx-container {
    margin: 0;
    padding: 1em 0;
    overflow-x: scroll !important;
  }
